<h1> New Post </h1>
<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :author %>
<%= f.text_field :author%>

<%= f.label :body %>
<%= f.text_field :body %>

<%= f.submit %>
<% end %>

<!-- Result
<form class="new_post" id="new_post" action="/posts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="xEtudmkrPevAAUBdF42AXWLiMPB9WGQEyPI7OC3Y8iRzSWBDxUAK6LXyR14jRdIb7yMSOkFn8iTAl+YvMg5HOw==">
<label for="post_title">Title</label>
<input type="text" name="post[title]" id="post_title">

<label for="post_author">Author</label>
<input type="text" name="post[author]" id="post_author">

<label for="post_body">Body</label>
<input type="text" name="post[body]" id="post_body">

<input type="submit" name="commit" value="Create Post">
</form> -->
